
/* Yuk! CSS Hack for IE6 3 pixel bug :( */
.mstr-title-arrow {
  background: transparent url(//www.nespresso.com/shared_res/mos/free_html/int/_common/images/title-arrow-white.png) bottom center no-repeat;
  text-align: center;
  color: rgba(0, 0, 0, 0.8);
  font-family: 'Trebuchet MS', Helvetica, Arial, sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
}
/* Yoan: Basic tooltips to display machine names *//* Yoan: FAQs for machines */

.fh_vertuocoffee, .fh_vertuocoffee * {
box-sizing: border-box;
}
.fh_vertuocoffee {

}
.fh_vertuocoffee h1, .fh_vertuocoffee h2, .fh_vertuocoffee h3 {
color: rgba(0, 0, 0, 0.8);
font-family: 'Trebuchet MS', Helvetica, Arial, sans-serif;
font-size: 30px;
font-weight: bold;
line-height: 30px;
margin: 0px 0px 5px 0px;
text-align: center;
text-transform: uppercase;
}

.section-intro {
min-height:650px;
background-image:url('//www.nespresso.com/shared_res/mos/free_html/int/vertuo-coffee/images/intro-bg.jpg');
background-repeat:no-repeat;
padding:50px 80px 0px 80px;
text-align:center;
}
.section-intro a {
text-transform:uppercase;
color:#fff;
text-decoration:none;
padding-top:69px;
margin-top:280px;
background-image:url('//www.nespresso.com/shared_res/mos/free_html/int/vertuo-coffee/images/vertuo_experience_bullet04.png');
background-position:top center;
background-repeat:no-repeat;
display:inline-block;
}
.section-intro a:nth-of-type(2) {
margin:0px 200px 0px 200px;
}
.section-intro h1 {
text-transform:uppercase;
margin-top:60px;
color:#fff;
font-size:28px;
line-height:24px;

}
.section-intro h1 span {
font-size:24px;
color:#d2b8be;
font-weight:normal;
}
.section-intro p {

color:#d9d9d9;
font-style:italic;
line-height:17px;
}
.section-crema {
min-height:1258px;
background-image:url('//www.nespresso.com/shared_res/mos/free_html/int/vertuo-coffee/images/crema-bg.jpg');
background-repeat:no-repeat;
padding:50px 80px 50px 80px;
position:relative;
}
.section-crema h2 {
color:#fff;
}
.section-ritual h4 {
text-align:center;
text-transform:uppercase;
font-size:16px;
margin-top:50px;
}
.section-ritual h4 span {
font-size:28px;
position:relative;
top:3px;
right:10px;
}
.section-ritual .w33 p {
padding:0px 10px 0px 10px;
}
.section-espresso {
min-height:1017px;
background-image:url('//www.nespresso.com/shared_res/mos/free_html/int/vertuo-coffee/images/espresso-bg.jpg');
background-repeat:no-repeat;
padding:50px 80px 50px 80px;
}
.section-espresso .mstr-title-arrow {
margin-top:20px;
margin-bottom:40px;
}
.section-milk, .section-ritual, .section-recipes {
background-color:#fff;
padding:50px 80px 50px 80px;
color:#2a2c2c;
line-height:18px;
}
.section-crema .floatleft {
text-align:left;
line-height:18px;
padding-right:100px;
}
.section-crema .floatleft h2 {
text-align:left;
margin-bottom:30px;
margin-top:40px;
}
.section-crema .floatleft p {
margin-bottom:40px;
color:#d9d9d9;
}
.section-crema a {
display:block;
text-decoration:none;
color:#d9d9d9;
}

.intensity div {
color:#979797;
font-size:11px;
font-style:italic;
margin-top:10px;
}
.section-crema a:hover {
text-decoration:underline;
}
.section-crema a:before {
content:"→";
color:#bc9049;
margin-right:10px;
text-decoration:none;
display:inline-block;
}
.section-crema a:hover:before {
text-decoration:none;
}
.section-milk .floatright, .section-ritual .floatright, .section-range .floatright  {
text-align:left;
padding-left:60px;
}
.section-espresso .floatright {
text-align:left;
line-height:18px;
}
.section-espresso .floatright p {
margin-bottom:40px;
}
.section-milk .floatright h2, .section-ritual .floatright h2, .section-range .floatleft h2, .section-espresso .floatright h3 {
text-align:left;
margin-top:20px;
margin-bottom:40px;
}

.grade {
display:inline-block;
width:11px;
height:11px;
border:1px solid #7c7172;
overflow:hidden;
text-align:center;
color:#c3c3c3;
letter-spacing:-2px;
text-indent:-3px;

}
.grade.active {
background-color:#c3c3c3;
font-size:9px;
color:#000;
}
.section-range {
background-color:#221a18;
padding:50px 80px 50px 80px;
line-height:18px;
}
.section-range h2, .section-espresso h2, .section-espresso h3 {
color:#fff;
}
.section-espresso h3 {
font-size:24px;
margin-top:80px !important;
}
.capsulesvertuo {
position:absolute;
bottom:40px;
}
.coffee {
width:209px;
float:left;
text-align:center;
margin-top:50px;
margin-bottom:20px;
}
.coffee .name {
text-transform:uppercase;
font-size:16px;
margin-bottom:10px;
}
.coffee .description {
color:#979797;
margin-bottom:10px;
}
.recipe .visual {
width:296px;
float:left;
}
.recipe .details {
width:500px;
float:right;

}
.recipe h4 {
text-transform:uppercase;
font-size:16px;
}
.recipe .name {
text-transform:uppercase;
font-weight:bold;
font-size:18px;
margin-bottom:20px;
}
.clearboth {
clear:both;
}
.mstr-title-arrow {
background: transparent url(//www.nespresso.com/shared_res/mos/free_html/int/_common/images/title-arrow-grey.png) bottom center no-repeat;
height: 4px;
}
.w50 {
width:50%;
}
.w33 {
width:33%;
}
.italic {
font-style:italic;
}
.center {
text-align:center;
margin-left:auto;
margin-right:auto;
}
.big {
font-size:15px;
line-height:18px;
}
.difficulty {
margin-right:6px;
}
.floatright {
float:right;
}
.floatleft {
float:left;
}


.switch {
text-align:center;
margin-top:30px;

font-style:italic;
}
.switch a {
display:inline-block;
font-style:normal;
text-transform:uppercase;
margin:20px 10px 20px 10px;
font-weight:bold;
font-size:14px;
text-decoration:none;
color:#999999;
padding-bottom:20px;
}
.switch a.active {
border-bottom:3px solid #2a2c2c;
color:#2a2c2c;
}
.switch a {
z-index:10;
}
.owl-buttons {
z-index:1;
}
.product {
height:auto;
}
.hidden { display:none; }

/* 
 * 	Core Owl Carousel CSS File
 *	v1.3.3
 *//* clearfix */
.owl-carousel .owl-wrapper:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
/* display none until init */
.owl-carousel{
	display: none;
	position: relative;
	width: 100%;
	-ms-touch-action: pan-y;
}
.owl-carousel .owl-wrapper{
	display: none;
	position: relative;
	-webkit-transform: translate3d(0px, 0px, 0px);
}
.owl-carousel .owl-wrapper-outer{
	overflow: hidden;
	position: relative;
	width: 100%;
}
.owl-carousel .owl-wrapper-outer.autoHeight{
	-webkit-transition: height 500ms ease-in-out;
	-moz-transition: height 500ms ease-in-out;
	-ms-transition: height 500ms ease-in-out;
	-o-transition: height 500ms ease-in-out;
	transition: height 500ms ease-in-out;
}
	
.owl-carousel .owl-item{
	float: left;
}
.owl-controls .owl-page,
.owl-controls .owl-buttons div{
	cursor: pointer;
}
.owl-controls {
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* mouse grab icon */
.grabbing { 
    cursor:url(grabbing.png) 8 8, move;
}

/* fix */
.owl-carousel  .owl-wrapper,
.owl-carousel  .owl-item{
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility:    hidden;
	-ms-backface-visibility:     hidden;
  -webkit-transform: translate3d(0,0,0);
  -moz-transform: translate3d(0,0,0);
  -ms-transform: translate3d(0,0,0);
}


/*
* 	Owl Carousel Owl Demo Theme 
*	v1.3.3
*/

.owl-theme .owl-controls{

position:absolute;
bottom:0;
	text-align: center;
	width:100%;
	height:100%;
}


.owl-buttons {
position:absolute;
width:100%;
top:-110px;
}
.owl-pagination {
position:absolute;
width:100%;
bottom:-30px;
}
/* Styling Next and Prev buttons */
.prev, .next {
font-size: 23px;
color: #636363;
cursor:pointer;
}
/* Clickable class fix problem with hover on touch devices *//* Use it for non-touch hover action */
.owl-theme .owl-controls.clickable .owl-buttons div:hover{
	filter: Alpha(Opacity=100);/*IE7 fix*/
	opacity: 1;
	text-decoration: none;
}

/* Styling Pagination*/

.owl-theme .owl-controls .owl-page{
	display: inline-block;
	zoom: 1;
	*display: inline;/*IE7 life-saver */
}
.owl-theme .owl-controls .owl-page span{
	display: block;
	width: 12px;
	height: 12px;
	margin: 5px 7px;
	filter: Alpha(Opacity=50);/*IE7 fix*/
	opacity: 0.5;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	background: #869791;
}

.owl-theme .owl-controls .owl-page.active span,
.owl-theme .owl-controls.clickable .owl-page:hover span{
	filter: Alpha(Opacity=100);/*IE7 fix*/
	opacity: 1;
}
.owl-next {
background: transparent url(//www.nespresso.com/shared_res/mos/free_html/int/_common/images/home-accessory-slider-nav.png) 0 -19px no-repeat;
display: inline-block;
border: 0;
text-indent: -999em;
overflow: hidden;
background-color: transparent;
background-repeat: no-repeat;
text-align: left;
direction: ltr;
height: 19px;
width: 10px;

margin-left:150px;
}
.owl-prev {
margin-right:100px;
background: transparent url(//www.nespresso.com/shared_res/mos/free_html/int/_common/images/home-accessory-slider-nav.png) 0 0px no-repeat;
display: inline-block;
border: 0;
text-indent: -999em;
overflow: hidden;
background-color: transparent;
background-repeat: no-repeat;
text-align: left;
direction: ltr;
height: 19px;
width: 10px;

}
.lightbox {
display:none;
}
.vids {
            display: none;
        }
        .vids iframe {
            display: block;
        }
        .section-black {
            background-color: #000;
            color: #fff;
            background-image: url(//www.nespresso.com/shared_res/mos/free_html/int/vertuo-coffee/images/section-black.jpg);
            background-position: 640px bottom;
            background-repeat: no-repeat;
            padding: 50px 80px 50px 80px;
            min-height: 200px;
        }
        .prevnext {
            position: relative;
            top: -63px;
            text-align: center;
            z-index: 1;
        }
        a.prev {
            margin-right: 180px;
        }
        .switch {
            display: inline-block;
            position: relative;
            z-index: 100;
        }
        .recipes {
            text-align: center;
        }
        .recipe {
            text-align: left;
        }